.navigation {
  &__logo {
    font-size: 3rem;
    transform: scaleY(1.2);
  }
  &__nav {
    font-size: 1rem;
    font-weight: 500;
    color: $color-light;
    li {
      margin-right: 1rem;
    }
  }
}
